{%load static%}
<form class="form--addLoan" enctype="multipart/form-data" method="post">
  <div class="row">
    <div class="col-6">
        <fieldset class="input-field">
            <input id="user_email" type="text" required>
            <label for="user_email"><img src="{% static '/images/email.png'%}" height="16px" alt="email"> Email</label>
        </fieldset>
        <fieldset class="input-field">
            <input id="user_email" type="text" required>
            <label for="user_email"><img src="{% static '/images/email.png'%}" height="16px" alt="email"> Email</label>
        </fieldset>
        <fieldset class="input-field">
            <input id="user_email" type="text" required>
            <label for="user_email"><img src="{% static '/images/email.png'%}" height="16px" alt="email"> Email</label>
        </fieldset>
    </div>
    <div class="col-6">
        <fieldset class="input-field">
            <input id="user_email" type="text" required>
            <label for="user_email"><img src="{% static '/images/email.png'%}" height="16px" alt="email"> Email</label>
        </fieldset>
        <fieldset class="input-field">
            <input id="user_email" type="text" required>
            <label for="user_email"><img src="{% static '/images/email.png'%}" height="16px" alt="email"> Email</label>
        </fieldset>
        <fieldset class="input-field">
            <input id="user_email" type="text" required>
            <label for="user_email"><img src="{% static '/images/email.png'%}" height="16px" alt="email"> Email</label>
        </fieldset>
    </div>
  </div>
</form>