{% extends "base.html" %}

{% block titulo %} Home {% endblock %}

{% block contenido %}  

{%include '../navbar.html'%}

{%load static%}

<div class="container">
    {% if loans is not None %}
        
        <!-- Loan card -->
        <div class="loanList--full d-flex align-items-center flex-column">

            <a href="{%url 'newLoan'%}"><img src="{% static 'images/circle-plus.png'%}" class="add-button" alt="Add" width="80px"></a>

            <div class="text-container">
                {% for loan in loans %}
                <div class="row" style="margin: 0px 0px 20px 0px;">
                    <div class="col-3" style="background-color: #41c9eb; display: flex; align-items: center; border-radius: 15px 0px 0px 15px;">
                        <p style="color: white; font-weight: 620; font-size: 24px; margin-bottom: 0px;">{{ loan.Name }}</p>
                        
                    </div>
                    <div class="col-8" style="border: 1px solid #41c9eb; box-shadow: 4px 2px 6px #00000017;">
                        <p style="font-weight: 700; font-size: 22px; margin-bottom: 7px;">$ {{ loan.Ammount }}</p>
                        <table>
                            <tr>
                                <td style="color: #01048a; font-weight: 600; font-size: 16px; min-width: 150px;">Balance</td>
                                <td style="color: #DED601; font-weight: 600; font-size: 16px; min-width: 150px;">Interest Rate</td>
                                <td style="color: #01048a; font-weight: 600; font-size: 16px; min-width: 150px;">Start Date</td>
                            </tr>
                            <tr>
                                <td style="color: #5e5e5e; font-weight: 500; font-size: 16px;">$ 0</td>
                                <td style="color: #5e5e5e; font-weight: 500; font-size: 16px;">{{ loan.InterestRate }}% EA</td>
                                <td style="color: #5e5e5e; font-weight: 500; font-size: 16px;">{{ loan.StartDate }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-1" style="background-color: #41c9eb; display: flex; align-items: center; border-radius: 0px 15px 15px 0px;">
                        <table width="100%">
                            <tr>
                                <td align="center">
                                    <a href="{% url 'loanPayment' %}"><img src="{% static 'images/credit-card.svg'%}" class="icon-action" alt="Pay Loan" ></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <form action="{% url 'loan_delete' loan.LoanID %}" method="post" name="loan_delete">
                                        {% csrf_token %}
                                        <input type="image" src="{% static 'images/trash-fill.svg'%}" alt="Submit" class="icon-action" onclick="return confirm('Are you sure you want to delete {{ loan.Name }} permanently?')"/>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        {% empty %}
            <center><p>You haven't added loans yet, it's a good time to add one!</p></center>
        {% endfor %}
        </div>
        </div>
</div>
<style>
    .icon-action {
        width: 25px; 
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(105%) contrast(103%);
    }
</style>
    {% endif %}
{% endblock %}

