{% extends "base.html" %}

{% block titulo %} New Loan {% endblock %}

{% block contenido %}  

{%include '../navbar.html'%}

{%load static%}

<div class="container form--addLoan">
    <div class="row">
        <h3>{{system.Name}}</h3>
        <br><br>
    </div>
    <div class="row">
        <div class="col-3">
            <p>
                <b>Ammount:</b> ${{system.Ammount}} USD
            </p>
            <p>
                <b>Loan Term:</b> {{loanInfo.monthsTerm}} months.
            </p>
            <p>
                <b>Interest Rate:</b> {{loanInfo.interestEA}}% EA
            </p>
            <p>
                <b>Payment:</b> ${{loanInfo.monthlyPayment}} USD
            </p>
        </div>
        <div class="col-9">
            <div id="graphic"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <!-- <div class="col-4">
            <div class="card">
                <div style="width: 100%; height: 200px; background-color: aqua;"></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div> -->
        <div class="col-4">
            <div onclick="return confirm('Show table')" style="cursor: pointer;">
                <div style="background: rgb(203,245,255); background: linear-gradient(108deg, rgba(203,245,255,1) 0%, rgba(98,213,242,1) 51%, rgba(71,153,228,1) 100%); height: 130px; border-radius: 8px 8px 0px 0px;">
                <div style="background-image: url({% static 'images/table-summary.svg' %}); background-repeat: no-repeat; background-position: right bottom; height: 100%;">
                    <h4 style="color:#2F3646; padding: 20px 20px 20px 20px;">Amortization Schedule</h4>
                </div>
                </div>
                <div style="background-color: #f0f0f0; border-radius: 0px 0px 8px 8px;">
                    <p style="padding: 20px 20px 20px 20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div onclick="return confirm('Add ordinary payment')">
                <div style="background: rgb(203,245,255); background: linear-gradient(108deg, rgba(203,245,255,1) 0%, rgba(98,213,242,1) 51%, rgba(71,153,228,1) 100%); height: 130px; border-radius: 8px 8px 0px 0px;">
                    <div style="background-image: url({% static 'images/money-summary.svg' %}); background-repeat: no-repeat; background-position: right bottom; height: 100%;">
                        <h4 style="color:#2F3646; padding: 20px 20px 20px 20px;">Ordinary Payment</h4>
                    </div>
                </div>
                <div style="background-color: #f0f0f0; border-radius: 0px 0px 8px 8px;">
                    <p style="padding: 20px 20px 20px 20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div onclick="return confirm('Add extra payment')">
                <div style="background: rgb(203,245,255); background: linear-gradient(108deg, rgba(203,245,255,1) 0%, rgba(98,213,242,1) 51%, rgba(71,153,228,1) 100%); height: 130px; border-radius: 8px 8px 0px 0px;">
                    <div style="background-image: url({% static 'images/coin-summary.svg' %}); background-repeat: no-repeat; background-position: right bottom; height: 100%;">
                        <h4 style="color:#2F3646; padding: 20px 20px 20px 20px;">Extra Payment</h4>
                    </div>
                </div>
                <div style="background-color: #f0f0f0; border-radius: 0px 0px 8px 8px;">
                    <p style="padding: 20px 20px 20px 20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row" style="margin-top: 50px;">
        <a href="{% url 'loans' %}"><button class="button--regular" type="submit" onclick="saveLoanInfo()">Save</button></a>
    </div>
    
</div>


<script>
//  POST request to save de loan data

    function saveLoanInfo(){
        const Url = 'saveLoan';
        $.post(
            Url,
            {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                Name : '{{system.Name}}',
                Ammount : '{{system.Ammount}}',
                Term : '{{loanInfo.monthsTerm}}',
                InterestRate : '{{loanInfo.interestEA}}',
                StartDate : '{{system.StartDate}}',
                DisbursementDate : '{{system.DisbursementDate}}',
                loanPeriod : '{{system.loanPeriod}}',
                monthlyPayment : '{{loanInfo.monthlyPayment}}',
                termCalendar : '{{system.termCalendar}}',
                Compound : '{{system.Compound}}'
            },
            function(data, status) {
                if(status === "success") {
                    console.log("Post successfully created!");
                    // window.location.href = 'loans'
                }
            },
            "json"
        )
    }

    Highcharts.chart('graphic', {
        chart: {
            type: 'areaspline',
            backgroundColor: 'rgba(0,0,0,0)'
        },
        title: {
            text: 'Loan Performance'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [ {{ loanChart.categories | safe}}],
            plotBands: [{
            from: 4.5,
            to: 6.5,
            color: 'rgba(68, 170, 213, .2)'
        }]
        },
        yAxis: {
            title: {
                text: 'Payment'
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' USD'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        series: [{
            name: 'Interest',
            data: [{{ loanChart.interest | safe}}]
        }, {
            name: 'Principal',
            data: [{{ loanChart.principal | safe}}]
        }, {
            name: 'Balance',
            data: [{{ loanChart.balance | safe}}]
        }]
    });
  </script>


{% endblock %}