{% extends "base.html" %}

{% block titulo %} New Loan {% endblock %}

{% block contenido %}  

{%include '../navbar.html'%}

{%load static%}

<div class="container form--addLoan">
    <div class="row">
        <h3>{{system.loanName}}</h3>
    </div>
    <div class="row">
        <div class="col-6">
            <p>
                Loan Ammount: {{system.Amount}}
            </p>
            <p>
                Loan Term: {{loanInfo.monthsTerm}} months.
            </p>
            <p>
                Interest Rate {{loanInfo.interestEA}}% EA
            </p>
            <p>
                {{system.loanPeriod}} payment {{loanInfo.monthlyPayment}}
            </p>
        </div>
        <div class="col-6">
            Graphic
        </div>
    </div>
    
</div>


{% endblock %}