{% extends "base.html" %}

{% block titulo %} New Loan {% endblock %}

{% block contenido %}  

{%include '../navbar.html'%}

<style>
    img.icon--blue {
        filter: invert(71%) sepia(66%) saturate(599%) hue-rotate(158deg) brightness(92%) contrast(100%);
    }
</style>
{%load static%}
<script src="{% static 'js/credit.js' %}"></script>

<div class="container form--addLoan">
    <div class="row">
        <h3>Add Loan</h3>
    </div>
    <form name="formAddLoan" class="form-addLoan--content" action="/loans/addLoan" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <fieldset class="input-field">
                    <input id="loan_name" name="loan_name" type="text" required>
                    <label for="loan_name"><img src="{%static 'images/credit-card.svg'%}" class="icon--blue" alt="Loan name"> Loan Name</label>
                </fieldset>
                <fieldset class="input-field">
                    <input id="loan_ammount" name="loan_ammount" type="text" required>
                    <label for="loan_ammount"><img src="{%static 'images/cash.svg'%}" class="icon--blue" alt="Loan Ammount"> Loan Ammount</label>
                </fieldset>
                <fieldset class="input-field">
                    <input id="loan_term" name="loan_term" type="number" required>
                    <label for="loan_term"><img src="{%static 'images/calendar-event.svg'%}" class="icon--blue" alt="Loan Term"> Loan Term</label>
                </fieldset>
                <fieldset class="input-field">
                    <input id="loan_interestRate" name="loan_interestRate" type="number" required>
                    <label for="loan_interestRate"><img src="{%static 'images/calculator.svg'%}" class="icon--blue" alt="Interest Rate"> Interest Rate</label>
                </fieldset>
                <fieldset class="input-field">
                    <select class="form-select" aria-label="Default select example" name="loan_compound">
                        <option selected>Compound</option>
                        <option value="1">EA</option>
                        <option value="2">EM</option>
                    </select>
                </fieldset>
            </div>
            <div class="col-6">
                <fieldset class="input-field">
                    <input id="loan_startDate" name="loan_startDate" type="text" required>
                    <label for="loan_startDate"><img src="{%static 'images/calendar.svg'%}" class="icon--blue" alt="Start Date"> Start Date</label>
                </fieldset>
                <fieldset class="input-field">
                    <input id="loan_disbursementDate" name="loan_disbursementDate" type="text" required>
                    <label for="loan_disbursementDate"><img src="{%static 'images/calendar.svg'%}" class="icon--blue" alt="Disbursement Date"> Disbursement Date</label>
                </fieldset>
                <fieldset class="input-field">
                    <select class="form-select" aria-label="Default select example" name="loan_period">
                        <option selected>Loan Period</option>
                        <option value="1">Monthly</option>
                        <option value="2">Weekly</option>
                        <option value="3">Annually</option>
                        <option value="4">Daily</option>
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <button class="button--regular" type="submit">Calculate</button>
            </div>
        </div>
      </form>
</div>

{% endblock %}