{% extends "base.html" %}

{% block titulo %} New Loan {% endblock %}

{% block contenido %}  

{%include '../navbar.html'%}

<style>
    img.icon--blue {
        filter: invert(71%) sepia(66%) saturate(599%) hue-rotate(158deg) brightness(92%) contrast(100%);
    }
</style>
{%load static%}
<script src="{% static 'js/credit.js' %}"></script>

<div class="container form--addLoan">
    <div class="row">
        <h3>Add Loan</h3>
    </div>
    <form name="formAddLoan" class="form-addLoan--content" action="/loans/addLoan" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <fieldset class="input-field">
                    <!-- <input id="loan_name" name="loan_name" type="text" required> -->
                    {{ form.loanName }}
                    <label for="loan_name"><img src="{%static 'images/credit-card.svg'%}" class="icon--blue" alt="Loan name"> Loan Name</label>
                </fieldset>
                <fieldset class="input-field">
                    <!-- <input id="loan_ammount" name="loan_ammount" type="text" required> -->
                    {{ form.Amount }}
                    <label for="Amount"><img src="{%static 'images/cash.svg'%}" class="icon--blue" alt="Loan Ammount"> Loan Ammount</label>
                </fieldset>
                <fieldset class="input-field">
                    <table width="100%">
                        <tr>
                            <td>
                                {{ form.Term }}
                                <label for="Term"><img src="{%static 'images/calendar-event.svg'%}" class="icon--blue" alt="Loan Term"> Loan Term</label>
                            </td>
                            <td width="25%">
                                {{ form.termCalendar }}
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset class="input-field">
                    <table>
                        <tr>
                            <td>
                                {{ form.InterestRate }}
                                <label for="InterestRate"><img src="{%static 'images/calculator.svg'%}" class="icon--blue" alt="Interest Rate"> Interest Rate</label>
                            </td>
                            <td width="25%">
                                {{ form.Compound }}
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div class="col-6">
                <fieldset class="input-field">
                    <!-- <input id="loan_startDate" name="loan_startDate" type="text" required> -->
                    {{ form.StartDate}}
                    <label for="StartDate"><img src="{%static 'images/calendar.svg'%}" class="icon--blue" alt="Start Date"> Start Date</label>
                </fieldset>
                <fieldset class="input-field">
                    <!-- <input id="loan_disbursementDate" name="loan_disbursementDate" type="text" required> -->
                    {{ form.disbursementDate }}
                    <label for="disbursementDate"><img src="{%static 'images/calendar.svg'%}" class="icon--blue" alt="Disbursement Date"> Disbursement Date</label>
                </fieldset>
                <fieldset class="input-field">
                    {{ form.loanPeriod}}
                    <!-- <select class="form-select" aria-label="Default select example" name="loan_period">
                        <option selected>Loan Period</option>
                        <option value="1">Monthly</option>
                        <option value="2">Weekly</option>
                        <option value="3">Annually</option>
                        <option value="4">Daily</option>
                    </select> -->
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <button class="button--regular" type="submit">Calculate</button>
            </div>
        </div>
      </form>
</div>

{% endblock %}