{% extends "base.html" %}

{% block titulo %} Payment {% endblock %}

{% block contenido %}

{%include '../navbar.html'%}

{%load static%}

<div class="container form--addLoan">
    <div class="row">
        <div class="col-3">
            <h3>{{loan.Name}}</h3>
            <br>
            <p>
                <b>Ammount:</b> ${{loan.Ammount}} USD
            </p>
            <p>
                <b>Loan Term:</b> {{loan.Term}} months.
            </p>
            <p>
                <b>Interest Rate:</b> {{loan.InterestRate}}% EA
            </p>
            <p>
                <b>Payment:</b> ${{loan.monthlyPayment}} USD
            </p>
        </div>
        <div class="col-9">
            <div id="graphic"></div>
        </div>
    </div>
    <!-- <div class="row" style="margin-top: 50px;">
        <a href="{% url 'loans' %}"><button class="button--regular" type="submit" onclick="saveLoanInfo()">Save</button></a>
    </div> -->
    
</div>

{% endblock %}