{% extends "base.html" %}

{% block titulo %} Payment {% endblock %}

{% block contenido %}

{%include '../navbar.html'%}

{%load static%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>

<div class="container form--addLoan">
    

    <div class="row">
        <div class="col-3">
            <h2>{{loan.Name}}</h2>
            <br>
            <p>
                <b class="bold-500">Ammount:</b> ${{loan.Ammount}} USD
            </p>
            <p>
                <b class="bold-500">Loan Term:</b> {{loan.Term}} months.
            </p>
            <p>
                <b class="bold-500">Interest Rate:</b> {{loan.InterestRate}}% EA
            </p>
            <p>
                <b class="bold-500">Payment:</b> ${{loan.monthlyPayment}} USD
            </p>
        </div>
        <div class="col-9">
            <div id="graphic"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-3">
            <button class="button--regular" data-bs-toggle="modal" data-bs-target="#amortizationSchedule">Amortization Schedule</button>
        </div>
        
    </div>

    <div class="row" style="margin-top: 50px;">
        <h4>Payment Details</h4>

        <div class="card-group">
            <div class="card border-0">
              <div class="card-body">
                <p>
                    <span class="dot" style="background-color: #0d6efd;"></span><b class="bold-500">Principal Paid:</b> $ {{paymentSummary.principalPaid}} USD
                </p>
                <p>
                    <span class="dot" style="background-color: #0dcaf0;"></span><b class="bold-500">Interest Paid:</b> $ {{paymentSummary.interestPaid}} USD
                </p>
              </div>
            </div>
            <div class="card border-0">
                <div class="card-body">
                    <h5>Total Paid</h5>
                    $ {{paymentSummary.totalPaid}} USD
                </div>
            </div>
            <div class="card border-0">
                <div class="card-body">
                    <h5>Balance</h5>
                    <p>$ {{loan.balance}} USD</p>
                </div>
            </div>
          </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{paymentSummary.percentagePrincipal}}%" aria-valuenow="{{paymentSummary.percentagePrincipal}}" aria-valuemin="0" aria-valuemax="100">
                    {{paymentSummary.percentagePrincipal}}%
                </div>
                <div class="progress-bar bg-info" role="progressbar" style="width: {{paymentSummary.percentageInterest}}%" aria-valuenow="{{paymentSummary.percentageInterest}}" aria-valuemin="0" aria-valuemax="100">
                    {{paymentSummary.percentageInterest}}%
                </div>
            </div>
          </div>
          
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-8"></div>
        <div class="col-4">
            <button class="button--regular" data-bs-toggle="modal" data-bs-target="#regularPayments">Add Payment</button>
          </div>
    </div>

</div>

<!-- Modal Amortization Schedule -->
<div class="modal fade" id="amortizationSchedule" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Amortization Schedule</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <thead>
                    <tr style="background-color: #01048a; color: white">
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Interest</th>
                        <th scope="col">Principal</th>
                        <th scope="col">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date in loanSchedule %}
                        <tr>
                            <th scope="row">{{date.item}}</th>
                            <td>{{date.date}}</td>
                            <td>$ {{date.payment}} USD</td>
                            <td>$ {{date.interest}} USD</td>
                            <td>$ {{date.principal}} USD</td>
                            <td>$ {{date.balance}} USD</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
        </div>
    </div>
</div>


<!-- Modal Regular Payments -->
<div class="modal fade" id="regularPayments" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Regular Payments</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/loans/savePayment" method="post">
                <table class="table table-hover" id="tblRegularPayment">
                    {% csrf_token %}
                    <input type="text" hidden value="{{loan.LoanID}}" name="loanID">
                    <thead>
                        <tr style="background-color: #01048a; color: white">
                            <th scope="col"></th>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td><input type="checkbox" name="payments" class="paymentCheck" value="{{payment.item}}" {{payment.check}}></td>
                                <th scope="row">{{payment.item}}</th>
                                <td>{{payment.date}}</td>
                                <td class="payment">$ {{payment.payment}} USD</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4">
                                <span id="totalPayment"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <div style="width: 200px;"><button type="submit" class="button--regular">Save changes</button></div>
            
        </div>
            </form>
        </div>
    </div>
</div>

{%include '../footer.html'%}

<script type="text/javascript">

    $('input:checkbox').change(function ()
    {
        var total = 0;
        var totalStr = '';
        $('input:checkbox:checked').each(function(){
            let pay = $(this).parents('tr').find("td").eq(2).text();
            var payS = pay.split(" ");
            total += isNaN(parseFloat(payS[1])) ? 0 : parseFloat(payS[1]);
            totalStr = "Total Payment: <b>$" + String(total.toFixed(2)) + " USD</b>";
        });

        $("#totalPayment").html(totalStr);
    });

    window.addEventListener('load', function () {
        enableRegularPayments();
    });

    function enableRegularPayments() {
        let ckPayments = document.getElementsByClassName('paymentCheck').length;
        var paymentEnabled = 0;
        for (var i = 0; i < ckPayments; i++) {
            document.getElementsByClassName('paymentCheck')[i].disabled= true;
            if (document.getElementsByClassName('paymentCheck')[i].checked) {
                paymentEnabled++;
            }
        }
        if (paymentEnabled == 0) {
            document.getElementsByClassName('paymentCheck')[0].disabled= false;
        }
        document.getElementsByClassName('paymentCheck')[paymentEnabled - 1].disabled= false;
        document.getElementsByClassName('paymentCheck')[paymentEnabled].disabled= false;
    }
 
    $('.paymentCheck').change(function(){
        var i = $('.paymentCheck').index(this)
        if ($(this).is(':checked')) {
            $('.paymentCheck')[ i + 1].disabled= false;
            $('.paymentCheck')[i - 1].disabled= true;
        } else {
            $('.paymentCheck')[i + 1].disabled= true;
            $('.paymentCheck')[i - 1].disabled= false;
        }
    });

    Highcharts.chart('graphic', {
        chart: {
            type: 'areaspline',
            backgroundColor: 'rgba(0,0,0,0)'
        },
        title: {
            text: 'Loan Performance'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [ {{ loanChart.categories | safe}}],
            plotBands: [{
            from: 4.5,
            to: 6.5,
            color: 'rgba(68, 170, 213, .2)'
        }]
        },
        yAxis: {
            title: {
                text: 'Payment'
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' USD'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        series: [{
            name: 'Comulative Interest',
            data: [{{ loanChart.interest | safe}}]
        }, {
            name: 'Principal Paid',
            data: [{{ loanChart.principal | safe}}]
        }, {
            name: 'Balance',
            data: [{{ loanChart.balance | safe}}]
        }]
    });
</script>


  <style>
    .dot {
        height: 13px;
        width: 13px;
        margin-right: 10px;
        border-radius: 50%;
        display: inline-block;
    }
</style>

{% endblock %}