<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>dropay | Copyright &copy; 2022. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(21,22,58,1) 20%);
        height: 70px;
        margin-top: 50px;
        color: rgb(214, 214, 214);
        padding-top: 25px;
        font-size: 15px;
    }
</style>