{% extends "base.html" %}

{% block titulo %} Update Profile {% endblock %}

{% block contenido %}  

{%include '../navbar.html'%}

<style>
    img.icon--blue {
        filter: invert(71%) sepia(66%) saturate(599%) hue-rotate(158deg) brightness(92%) contrast(100%);
    }
</style>
{%load static%}
<script src="{% static 'js/credit.js' %}"></script>

<div class="container form--addLoan">
    <div class="row">
        <h3>Change Password</h3>
    </div>
    <form name="formAddLoan" class="form-addLoan--content" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <fieldset class="input-field">
                    {{ form.old_password }}
                    <label for="user_password1"><img src="{% static '/images/lock-keyhole.png'%}" height="16px" alt="password">Old Password</label>
                </fieldset>
                <fieldset class="input-field">
                    {{ form.new_password1 }}
                    <label for="user_password1"><img src="{% static '/images/lock-keyhole.png'%}" height="16px" alt="password">New Password</label>
                </fieldset>
                <fieldset class="input-field">
                    {{ form.new_password1 }}
                    <label for="user_password2"><img src="{% static '/images/lock-keyhole.png'%}" height="16px" alt="password">Password Confirmation</label>
                </fieldset>
            </div>
            <div class="col-6">

            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <button type="submit" id="submit">Update</button>
            </div>
        </div>
      </form>
</div>

{% endblock %}
