{% extends "base.html" %}
{% block titulo %} Loans {% endblock %}

{% block contenido %}  

{%include '../navbar.html'%}
<div class="container">
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-success" href="{% url 'newLoan' %}" role="button">New Loan</a>
        </div>
        
        <div class="card-body">
            <h4 class="card-title">Loans</h4>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Loan Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Para el carro</td>
                        <td>Numero</td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'loanPayment' %}" role="button">Pagar</a>
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% endblock %}