{% extends "base.html" %}

{% block titulo %}Log In{% endblock %}

{% block contenido %}  

{% load static %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col" style="background-image: url('../static/images/login_background.png'); height: 98vh;">
            <div class="logIn_logo">
                <img src="{% static '/images/logo.svg'%}" class="logIn_logo--img" alt="Logo">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                    elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="logIn_Form">
                <h2>Log In</h2>
                <fieldset class="input-field">
                    <input id="user_email" type="text" required>
                    <label for="user_email">Email</label>
                </fieldset>
                <fieldset class="input-field">
                    <input id="user_password" type="text" required>
                    <label for="user_password">Password</label>
                </fieldset>

                <input type="checkbox"><span class="checkbox--span">Remember information</span>
                <button>Sign In</button>

                <span class="logIn_Form--finalText">New to Dropay? <a href="">Sign Up!</a> </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
